# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Deploy to Test PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  release-test-pypi:
    # Upload to Test PyPI on every pushed tag.
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    environment:
      name: release-pypi
      url: https://test.pypi.org/p/wombat
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Build package
        run: |
          python -m pip install --upgrade pip
          pip install setuptools build wheel twine
          python -m build
          twine check --strict dist/*

      - name: Publish package to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: True
          repository-url: https://test.pypi.org/legacy/
